/*common*/
body{background:#f8f9fa;font-size: 15px;min-height: 100vh;padding-bottom: 30px}
select{width:100%;}
.form-label{font-size: 14px;font-weight: 600;margin-bottom:5px;}
.form-control{padding: 5px 10px}
.title{margin-bottom: 15px;padding-bottom: 15px;border-bottom: 1px solid #ccc}
.breadcrumb-outer{margin-top: -20px;}
.breadcrumb{border-radius: 0px;}
.breadcrumb a{text-decoration: none}

.custom-radio{margin:0 5px;cursor: pointer;}
.custom-radio input{display: none;}
.custom-radio span{position: relative;}
.custom-radio span:before{content: '';width: 18px;height: 18px;display: inline-block;border: 1px solid #ccc;border-radius: 50%;vertical-align: middle;margin-right: 4px;position: relative;top: -1px;transition: 0.2s}
.custom-radio span:after{content: '';width: 10px;height: 10px;position: absolute;top: 6px;left: 4px;background: #305779;border-radius: 50%;transform: scale(0);transition: 0.2s}
.custom-radio input[type="radio"]:checked + span:before{border-color: #305779;transition: 0.2s}
.custom-radio input[type="radio"]:checked + span:after{transform: scale(1);transition: 0.2s}


/*datatable*/
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:focus{padding:4px 10px;background: #305779;color: #fff !important;border: 1px solid #153550;border-radius: 0px;margin: 0}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{margin: 0;border: 1px solid #ccc;border-radius: 0px;padding: 4px 10px;}
table.dataTable thead th, table.dataTable thead td{padding:10px 8px}
table a.link{border: 1px solid #555;color: #555;border-radius: 50%;width: 25px;height: 25px;display: inline-block;margin: 0 5px;padding: 1px;font-size: 13px;transition: 0.2s}
table a.link:hover{border-color: #305779;background: #305779;color: #fff;transition: 0.2s}
table a.link.trash:hover{border-color: red;background: red;color: #fff;transition: 0.2s}

/*nav*/
.custom-container{margin-left: 230px;transition: 0.2s}
nav{background: #305779;margin-bottom: 20px}
.mini-sidebar .custom-container{margin-left: 60px;transition: 0.2s}
nav .dropdown-toggle{background: transparent !important;border: none !important;padding:8px 12px}
nav .dropdown-toggle:focus{box-shadow: none !important;}
nav .dropdown-toggle:after{display: none;}
nav .dropdown-toggle i{position: relative;top: 2px}
nav .dropdown-menu a i{margin-right: 5px}
nav .toggle-menu{color: #fff;padding: 12px;display: table;}
nav .dropdown{display: inline-block;float: right}
nav .dropdown .user-image{width: 33px;height: 33px;display: inline-block;background-size: cover;background-repeat: no-repeat;background-position: center;vertical-align: middle;margin-right: 10px;border: 2px solid #fff;border-radius: 50%;}
nav .dropdown-menu{padding: 0;margin: 0;min-width: initial;left: initial !important;border: none;box-shadow: 0 4px 10px #ddd;}

/*topmenu*/
.top-menu{margin: 0;padding: 0;list-style: none;display: inline-block;float: right;}
.top-menu li{display: inline-block;float: left;}
.top-menu li a{color: #fff;text-decoration: none;padding: 13px 15px;display: table;transition: 0.2s}
.top-menu li a span{margin-left: 6px}
.top-menu li a.active,.top-menu li a:hover{background: #1a3954;transition: 0.2s}

/*sidebar*/
.sidebar{position: fixed;top: 0;left: 0;background: #D3E7FB;height: 100vh;width: 230px;transition: 0.2s}
.mini-sidebar .sidebar{width: 60px;transition: 0.2s}
.mini-sidebar .sidebar ul li span{display: none;}
.mini-sidebar .sidebar .mini-logo,.sidebar .logo{background: #fff;width: 100%;display: table;text-align: center;padding: 7px}
.mini-sidebar .sidebar .logo,.sidebar .mini-logo,.mini-sidebar .sidebar .mega-menu a:before{display: none;}
.sidebar ul{padding: 0;margin: 0;list-style: none}
.sidebar>ul{height: calc(100vh - 45px);overflow-y: scroll;overflow-x: hidden;}
.sidebar>ul::-webkit-scrollbar{width: 6px;}
.sidebar>ul::-webkit-scrollbar-track {box-shadow: inset 0 0 3px #9faebd;}
.sidebar>ul::-webkit-scrollbar-thumb {background-color: #7694b3;}
.sidebar ul li a{color: #305779;padding:13px;display: table;width: 100%;text-decoration: none;transition: 0.2s}
.sidebar ul li a:hover,.sidebar ul li a.active{background:#305779;color: #fff;transition: 0.2s}
.sidebar ul li a i{width: 30px;text-align: center;}
.sidebar .mega-menu ul{display: none;}
.sidebar .mega-menu.open ul{display: block;}
.sidebar .mega-menu.open ul a{padding-left: 35px;position: relative;    font-size: 14px;padding: 5px 0px 5px 50px;}
.sidebar .mega-menu.open ul a:hover:before{background: #fff;transition: 0.2s}
.sidebar .mega-menu.open ul a:before{content: '';width: 0px;height: 6px;position: absolute;top: 18px;left: 22px;background: #305779;border-radius: 50%;}
.sidebar .mega-menu a{position: relative;}
.sidebar .mega-menu>a:before{content: "\f107";font-family: "Font Awesome 5 Pro";position: absolute;right: 15px;top: 15px;transform: rotate(-90deg);transition: 0.2s;color: #305779}
.sidebar .mega-menu.open>a:before{transition: 0.2s;transform: rotate(0deg);color: #fff;}
.sidebar .mega-menu.active>a:before,.sidebar .mega-menu>a:hover:before{color: #fff;transition: 0.2s}

/*login*/
.login-card{width: 400px;position: absolute;top: 50%;transform: translateY(-50%);left: 0;right: 0;margin: 0 auto;}
.login-card h5{margin: 0;text-align: center;}
.login-card .btn{width: 100%}
.login-card .link{font-size: 14px;display: table;margin:10px auto 0 auto}
.login-card .link i{margin-right: 5px}

/*dashboard*/
.dashboard-big-box{background: linear-gradient(-15deg, #a1c8e8, #d3e7fb);padding: 15px;box-shadow: 0 3px 15px #ddd}
.dashboard-box{background: #fff;padding:30px 15px 15px 15px;text-align: right;box-shadow: 0 3px 15px #ddd}
.dashboard-big-box h5{margin: 0}
.dashboard-big-box h3,.dashboard-box h3{margin:0}
.dashboard-big-box select{display: table;width: auto;padding: 5px;font-size: 14px;height: initial !important;margin: 10px 0}
.dashboard-box i{font-size: 40px;position: absolute;left: 25px;top: 15px;opacity: 0.3;}
.dashboard-big-box i{font-size: 55px;position: absolute;right: 25px;bottom: 15px;opacity: 0.3;}
.dashboard-box.red{border-bottom: 3px solid #ec3d39}
.dashboard-box.blue{border-bottom: 3px solid #3b559c}
.dashboard-box.yellow{border-bottom: 3px solid #f9e92c}
.dashboard-box.green{border-bottom: 3px solid #0ab355}
.dashboard-box.red i{color: #ec3d39}
.dashboard-box.green i{color: #0ab355}
.dashboard-box.blue i{color: #3b559c}
.dashboard-box.yellow i{color: #f9e92c}

#loader{
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  background-image:url("../images/loader-small.gif");
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.img-wraps {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0;
}
.img-wraps .closes {
    position: absolute;
    top: -8px;
    right: -9px;
    z-index: 100;
    background-color: #FFF;
    padding: 3px 1px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    line-height: 7px;
    border-radius: 50%;
    border: 1px solid red;
}
.img-wraps:hover .closes {
    opacity: 1;
}
.modal-body{
    max-height: 75vh;
    overflow-y: scroll;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}